.projects {
    margin-left: 7vh;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
  }
  
  .projects-heading {
    margin-left: 7vh;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 50px;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3vh;
    margin-bottom: 30px;
  }
  
  .project-card {
    width: 45%;
    max-width: 400px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  
  .project-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }
  
  .project-title {
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 1.2rem;
  }

/* Responsive Styles for Mobile Screens */
@media (max-width: 1024px) {

  .projects {
    margin: 0px;
    margin-left: 20px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
  }
  
  .projects-heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 20px;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2vh;
    margin-right: 20px;
  }
}
  